canvas{
    border-style: ridge;
}

#aCanvas{
    display: flex;
    justify-content: center;
}

#keyboard > div{
    display: flex;
    justify-content: center;
    margin: 2px;
}
#second_line_keys{
    display: inline-block;
}

#second_line_keys input{
    margin: 2px;
}