#wrapper{
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#keyboard {
    width: 300px;
    height: 130px;
    border: 1px solid black;
    margin-bottom: 5px;
}

#keyboard div{
    text-align: center;
}

Canvas{
    border-style: ridge;
    margin: 10px 5px;
}

#reset input{
    margin: 15px;
}

#keyboard input{
    font-weight: bold;
    font-size: larger;
}

.arrowUp{
    margin: 4px;
}