#wrapper{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 237, 239);
    border-radius: 20px;
}

#keyboard {
    width: 300px;
    height: 130px;
    border: 1px ridge black;
    margin-bottom: 5px;
    background-color: rgb(210, 216, 220);
    border-radius: 30px;
}

#keyboard div{
    text-align: center;
}

Canvas{
    border: 4px ridge black;
    margin: 10px 5px;
    background-color: rgb(255, 255, 255);
}

#reset input{
    margin: 15px;
}

#keyboard input{
    font-weight: bold;
    font-size:x-large;
}

.arrowUp{
    margin: 4px;
}